
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* box-sizing: border-box; */
  font-family: 'Gothic';
  background-color:#3A3636;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid steelblue;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}


.app {
  background-color:#3A3636;
  color:white;
  font-family: 'Gothic'
}

.grid-box {
  display:grid;
  grid-template-areas: 
  'tl tml tmr tr'
  'bl bml bmr br';
  padding-bottom: 10rem
}

.grid-box div.card {
  margin: 1rem 1rem;
  border-radius:0;
  background-color: transparent;
  border-radius: 0;
  border-color: white;
}
.grid-box div.card div.grid-item input.card-img-top {
  height: 12rem;
  border: solid white;
  border-radius:0
}
.grid-item a {
  text-decoration: none;
  color:white
}


#ytplayer iframe {
  padding-left: 2rem;
  border:solid white
}