*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* box-sizing: border-box; */
  background-color: #3a3636;
}

p {
  font-size: 20px;
}

button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
  width: 9rem;
  box-shadow: 2px 2px 6px white;
  height: 3rem;
}

button:hover {
  cursor: pointer;
  background: white;
  color: black;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.around-video {
  margin-top: 1rem;
}
.app {
  background-color: #3a3636;
  color: white;
  font-family: "Gothic";
}

.grid-box {
  display: grid;
  grid-template-areas:
    "tl tml tmr tr"
    "bl bml bmr br";
  padding-bottom: 10rem;
}
div.related-container div.grid-box {
  grid-template-areas:
    "l r"
    "ll lr";
  padding: 0rem 1rem;
}

.grid-box div.card {
  margin: 1rem 1rem;
  border-radius: 0;
  background-color: transparent;
  border-radius: 0;
  border-color: white;
}
.grid-box div.card div.grid-item input.card-img-top {
  height: 12rem;
  border: solid white;
  border-radius: 0;
}
.grid-item a {
  text-decoration: none;
  color: white;
}

div iframe {
  box-shadow: 2px 2px 6px white;
  border: solid white;
}
.around-video-page {
  padding-left: 2rem;
}
div.around-comment-form input.input-bar {
  width: 31rem;
  color: white
}
div.around-reply-form input.input-bar {
  width: 31rem;
  color:white
}

div.around-comment-form {
  margin-top: 1rem;
}

div.comment-content {
  display: flex;
  margin-top: 2rem;
  border: solid white;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
}
